.background{
  background-image: url('assets/green.jpg');
  background-repeat: no-repeat;
  background-size: 100%, 100%;
  background-position: center;
  text-align: center;
  padding-top: 300px;
  padding-bottom: 300px;
}

.findUs {
  background-color: orange;
}

.nextStepsTitle{
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: 15%;
  margin-right: 15%;
  font-family: 'Playfair Display';
  font-size: 70;
  background-color: #c3d4a5;  

}

.subTitle {
  font-family: 'Playfair Display';
  font-size: 25px;
}

.title{
  font-family: 'Playfair Display';
  font-size: 70; 
}


.tagline{
  font-family: 'Playfair Display';
  font-size: 52;
}

.pad {
  padding: 50px;
  margin-right: 10%;
  margin-left: 10%;
  text-align: center;
  background: #c3d4a5;
}

.chart { 
      background: white;
      padding-top: 50px;
      padding-bottom: 50px;
      /* float: left; */
      width: 700px;
      height: 400px;
      shape-outside: polygon(0px 0px, 50px 50px, 100px, 50px, 100px, 100px, 0px, 100px);
   
     }

.chart2 { 
     background: white;
      padding-top: 50px;
      padding-bottom: 50px;
      /* float: right; */
      width: 700px;
      height: 400px;
      shape-outside: polygon(0px 0px, 50px 50px, 100px, 50px, 100px, 100px, 0px, 100px);
      
     }

.tyler {
  /* display: inline-block; */
 display: grid;
 grid-template-columns: 1fr 1fr;
 justify-items: center;
 align-items: center;
}

/* .btn-xl {
  padding: 0px 20px ;
  width: 80%;
  height: 80px;
} */

.nextstepsbtn {
  padding: 0px 20px ;
  width: 80%;
  height: 80px;
  font-family: 'Playfair Display';
  font-size: 20px;
  background-color: #82ae7e;
  color: white;
  border: none;
}

.nextstepsbtn:hover {background-color: #3e8e41}

.nextstepsbtn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(10px);
}

.nextrow{
  height: 350px;
}

.backbg {
  background-color: #82ae7e;
}

.pinkText {
  background-color: #ECA8A8;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  padding-top: 10%;
  font-family: 'Roboto';
}

.mission {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 52;
  font-family: 'Roboto';
  padding: 3%;
}

.missionborder {
  border-style: groove;
  border-color: #ECA8A8;
  border-width: 8px;
}

.graytitle {
  color: #686868;
}

.aboutme {
  font-family: 'Playfair Display';
  font-size: 52;
}

.paddingtop {
  padding-top: 10%;
}

.aboutbody {
  margin-bottom: 10%;
}

.paddingtoptyler {
  padding-top: 30%;
}

/* .steps{
  align: center;
} */

/* canvas {
  z-index: 1000;
} */

/* Navbar */

.topnav {
  overflow: hidden;
  background-color: #9f8767;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Playfair Display';
}

.topnav a:hover {
  background-color: #454647;
  color: white;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #82ae7e;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

.searchbtn {
  color:white;
}

.search {
  font-family: Roboto;
}
/* Sticky Navbar */

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

/* Footer */
.footer {
  background: #9f8767;
  color: white;
  height: 100px;
  position: relative;
  margin-bottom: none;
  padding-bottom: none;
}

.back {
  background-color: #82ae7e;
}

.footer-about {
  color: white; 
}

.footer-bottom {
  color: white;
  position: relative;
}

.dialog {
  font-family: 'Roboto';
}

.socials {
  position:absolute;
  bottom:30%;
  right:5%;
}

.followus {
  position:absolute;
  bottom:23%;
  right:13%;
}

.copyright {
  position: absolute;
  bottom:27%;
  left:3%;
}

.hpText {
  font-family: 'Roboto';
}

.nextbody{
  margin-bottom: 15%;
}

.paragraph {
  font-family: Roboto;
}

/* Custom Scrollbar */
body::-webkit-scrollbar {
 width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
