.background{
  background-image: url('assets/green.jpg');
  background-repeat: no-repeat;
  background-size: 100%, 100%;
  background-position: center;
  text-align: center;
  padding-top: 300px;
  padding-bottom: 300px;
}

.title{
  font-family: verdana;
  font-size: 70; 
}

.tagline{
  font-family: verdana;
  font-size: 52;
}


/* .steps{
  align: center;
} */

/* canvas {
  z-index: 1000;
} */